@import "tailwindcss";
@theme {
  --color-cyan: hsl(180, 66%, 49%);
  --color-cyanlight: hsl(180, 66%, 69%);
  --color-darkviolet: hsl(257, 27%, 26%);
  --color-red: hsl(0, 87%, 67%);
  --color-grayishviolet: hsl(257, 7%, 63%);
  --color-verydarkblue: hsl(255, 11%, 22%);
  --color-verydarkviolet: hsl(260, 8%, 14%);
}
.btn {
    @apply rounded-full bg-cyan text-white font-medium hover:bg-cyanlight py-2 px-7 cursor-pointer text-lg
}
    
.btn2 {
    @apply rounded bg-cyan text-white font-medium hover:bg-cyanlight py-2 px-7 cursor-pointer text-sm
}

#CTA {
    background-image: url('../dist/images/bg-boost-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}